Repository google/garf: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters, pytest-check-youtube, pytest-check-google-ads, pytest-check-bid-manager

.pre-commit-config.yaml:

# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
fail_fast: true
default_stages: [pre-commit]
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
    exclude: ^mkdocs\.yml$
  - id: check-added-large-files
  - id: debug-statements
  - id: double-quote-string-fixer
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.8.0
  hooks:
  - id: mypy
    verbose: true
    entry: bash -c 'mypy "$@" || true'
    args: [--ignore-missing-imports]
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.5
  hooks:
    - id: ruff
      args: [ --fix, --select, I]
    - id: ruff-format
- repo: local
  hooks:
  - id: pytest-check-core
    name: pytest-check-core
    entry: pytest -n auto libs/core/tests/unit/
    language: system
    pass_filenames: false
    files:  ^libs/
    exclude: ^libs/community
  - id: pytest-check-io
    name: pytest-check-io
    entry: pytest -n auto libs/io/tests/unit/
    language: system
    pass_filenames: false
    files:  ^libs/
    exclude: ^libs/community
  - id: pytest-check-executors
    name: pytest-check-executors
    entry: pytest -n auto libs/executors/tests/unit/
    language: system
    pass_filenames: false
    files:  ^libs/
    exclude: ^libs/community
  - id: pytest-check-exporters
    name: pytest-check-exporters
    entry: pytest -n auto libs/exporters/tests/unit/
    language: system
    pass_filenames: false
    files:  ^libs/
    exclude: ^libs/community
  - id: pytest-check-youtube
    name: pytest-check-youtube
    entry: pytest -n auto libs/community/google/youtube/tests/unit/
    files: ^libs/community/google/youtube/
    language: system
    pass_filenames: false
  - id: pytest-check-google-ads
    name: pytest-check-ads
    entry: pytest -n auto libs/community/google/ads/tests/unit/
    files: ^libs/community/google/ads/
    language: system
    pass_filenames: false
  - id: pytest-check-bid-manager
    name: pytest-check-bid-manager
    entry: pytest -n auto libs/community/google/bid-manager/tests/unit/
    files: ^libs/community/google/bid-manager/
    language: system
    pass_filenames: false
  - id: executors-e2e
    stages: [pre-push]
    name: e2e
    entry: pytest -n auto libs/executors/tests/end-to-end/
    language: system
    pass_filenames: false
    always_run: true

fix(executors): improve query execution in sql executor
  libs/executors/garf/executors/sql_executor.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

fix(executors): store macro expansion value when expanding config
  libs/executors/garf/executors/config.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

fix(core): ensure that filters are correctly parsed in where statement
  libs/core/garf/core/query_editor.py
  libs/core/pyproject.toml
  libs/core/tests/unit/test_query_editor.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

fix(core): ensure parsing is performed correctly with nested attributes
  libs/core/garf/core/parsers.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

fix(ads): respect no-expand-mcc CLI option in preprocessors
  libs/community/google/ads/garf/community/google/ads/__init__.py
  libs/community/google/ads/garf/community/google/ads/report_fetcher.py
Due: pytest-check-google-ads

feat(core): add multiquery support
  libs/core/garf/core/query_editor.py
  libs/core/tests/unit/test_query_editor.py
  libs/executors/garf/executors/executor.py
  libs/executors/garf/executors/query_processor.py
  libs/executors/tests/unit/test_api_executor.py
  libs/executors/tests/unit/test_config.py
  libs/executors/tests/unit/test_query_processor.py
  libs/executors/tests/unit/workflows/test_workflow.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

feat(executors): check required garf version is supplied in workflow
  libs/executors/garf/executors/__init__.py
  libs/executors/garf/executors/entrypoints/cli.py
  libs/executors/garf/executors/entrypoints/tasks.py
  libs/executors/garf/executors/entrypoints/typer_cli.py
  libs/executors/tests/unit/test_init.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

deps: bump dependencies
  libs/core/garf/core/__init__.py
  libs/executors/garf/executors/__init__.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

deps(executors): update requirements.txt
  libs/executors/requirements.txt
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

fix(core): dict parser returns False values
  libs/core/garf/core/__init__.py
  libs/core/garf/core/parsers.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

feat(core): improve FakeApiClient
  libs/core/garf/core/api_clients.py
  libs/core/garf/core/fetchers/fake.py
  libs/core/tests/unit/test_api_clients.py
  libs/core/tests/unit/test_report_fetcher.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

chore(executors): add server specific telemetry metrics
  libs/executors/garf/executors/api_executor.py
  libs/executors/garf/executors/bq_executor.py
  libs/executors/garf/executors/duckdb_executor.py
  libs/executors/garf/executors/elasticsearch_executor.py
  libs/executors/garf/executors/entrypoints/server.py
  libs/executors/garf/executors/entrypoints/tasks.py
  libs/executors/garf/executors/executor.py
  libs/executors/garf/executors/opensearch_executor.py
  libs/executors/garf/executors/setup.py
  libs/executors/garf/executors/sql_executor.py
  libs/executors/garf/executors/telemetry.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

fix(executors): provide corrected otel calls for workflow executions
  libs/executors/garf/executors/entrypoints/server.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

fix(B324): add usedforsecurity=False to MD5 hash calls in cache.py and query_editor.py
  libs/core/garf/core/cache.py
  libs/core/garf/core/query_editor.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

fix(B602): replace shell=True with shlex.split() in test_cli.py subprocess calls
  libs/executors/tests/end-to-end/test_cli.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

fix(B104): add timeout= to all requests.get/post calls
  libs/community/google/knowledge-graph/garf/community/google/knowledge_graph/api_clients.py
  libs/core/garf/core/api_clients.py
  libs/executors/garf/executors/entrypoints/typer_cli.py
  libs/exporters/garf/exporter/entrypoints/cli.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

fix(B307): replace eval() with safe operator lookup in YouTube API client
  libs/community/google/youtube/garf/community/google/youtube/api_clients.py
Due: pytest-check-youtube

fix(B307): replace eval() with AST-based safe evaluator in parsers.py
  libs/core/garf/core/parsers.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

feat(cm360): add initial commit for Campaign Manager 360 fetcher
  docs/fetchers/campaign-manager.md
  docs/index.md
  libs/community/google/campaign-manager/README.md
  libs/community/google/campaign-manager/examples/standard.sql
  libs/community/google/campaign-manager/garf/community/google/campaign_manager/__init__.py
  libs/community/google/campaign-manager/garf/community/google/campaign_manager/api_clients.py
  libs/community/google/campaign-manager/garf/community/google/campaign_manager/exceptions.py
  libs/community/google/campaign-manager/garf/community/google/campaign_manager/query_editor.py
  libs/community/google/campaign-manager/garf/community/google/campaign_manager/report_fetcher.py
  libs/community/google/campaign-manager/garf/community/google/campaign_manager/telemetry.py
  libs/community/google/campaign-manager/pyproject.toml
Due: none

docs: add references to campaign manager
  docs/fetchers/overview.md
  mkdocs.yml
Due: none

fix(executors): propagate simulate option to celery and server
  libs/executors/garf/executors/entrypoints/server.py
  libs/executors/garf/executors/entrypoints/tasks.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

docs: add documentation for garf-media-tagging
  docs/fetchers/media-tagging.md
  docs/fetchers/overview.md
  mkdocs.yml
Due: none

fix(core): allow unsafe endpoints for rest client
  libs/core/garf/core/api_clients.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters
