Repository google/garf: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters, pytest-check-youtube, pytest-check-google-ads, pytest-check-bid-manager

.pre-commit-config.yaml:

# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
fail_fast: true
default_stages: [pre-commit]
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
    exclude: ^mkdocs\.yml$
  - id: check-added-large-files
  - id: debug-statements
  - id: double-quote-string-fixer
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.8.0
  hooks:
  - id: mypy
    verbose: true
    entry: bash -c 'mypy "$@" || true'
    args: [--ignore-missing-imports]
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.5
  hooks:
    - id: ruff
      args: [ --fix, --select, I]
    - id: ruff-format
- repo: local
  hooks:
  - id: pytest-check-core
    name: pytest-check-core
    entry: pytest -n auto libs/core/tests/unit/
    language: system
    pass_filenames: false
    files:  ^libs/
    exclude: ^libs/community
  - id: pytest-check-io
    name: pytest-check-io
    entry: pytest -n auto libs/io/tests/unit/
    language: system
    pass_filenames: false
    files:  ^libs/
    exclude: ^libs/community
  - id: pytest-check-executors
    name: pytest-check-executors
    entry: pytest -n auto libs/executors/tests/unit/
    language: system
    pass_filenames: false
    files:  ^libs/
    exclude: ^libs/community
  - id: pytest-check-exporters
    name: pytest-check-exporters
    entry: pytest -n auto libs/exporters/tests/unit/
    language: system
    pass_filenames: false
    files:  ^libs/
    exclude: ^libs/community
  - id: pytest-check-youtube
    name: pytest-check-youtube
    entry: pytest -n auto libs/community/google/youtube/tests/unit/
    files: ^libs/community/google/youtube/
    language: system
    pass_filenames: false
  - id: pytest-check-google-ads
    name: pytest-check-ads
    entry: pytest -n auto libs/community/google/ads/tests/unit/
    files: ^libs/community/google/ads/
    language: system
    pass_filenames: false
  - id: pytest-check-bid-manager
    name: pytest-check-bid-manager
    entry: pytest -n auto libs/community/google/bid-manager/tests/unit/
    files: ^libs/community/google/bid-manager/
    language: system
    pass_filenames: false
  - id: executors-e2e
    stages: [pre-push]
    name: e2e
    entry: pytest -n auto libs/executors/tests/end-to-end/
    language: system
    pass_filenames: false
    always_run: true

chore(ads): add Ads API version as Otel attribute
  libs/community/google/ads/garf/community/google/ads/api_clients.py
Due: pytest-check-google-ads

feat(executors): add step specific trace attributes
  libs/executors/garf/executors/workflows/workflow_runner.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

feat(executors): add fetchers and num step as workflow span attributes
  libs/executors/garf/executors/workflows/workflow_runner.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

feat(ads): add builtin account hierarchy query
  libs/community/google/ads/garf/community/google/ads/builtins/__init__.py
  libs/community/google/ads/garf/community/google/ads/builtins/account_hierarchy.py
Due: pytest-check-google-ads

deps: bump core and io versions
  libs/core/garf/core/version.py
  libs/io/garf/io/version.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

fix(executors): don't include fetchers and step attributes into workflow_step_counter
  libs/executors/garf/executors/workflows/workflow_runner.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

fix(executors): correctly process no_writer workflows
  libs/executors/garf/executors/entrypoints/server.py
  libs/executors/tests/end-to-end/test_server.py
  libs/executors/tests/end-to-end/test_workflow_no_writer.yaml
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

fix(analytics): provide correct alias in report fetcher
  libs/community/google/analytics/garf/community/google/analytics/report_fetcher.py
Due: none

fix(analytics): normalize values in IN statement
  libs/community/google/analytics/garf/community/google/analytics/query_editor.py
Due: none

feat: add support for multiple parameters with the same key in garf cli
  docs/usage/queries.md
  libs/core/garf/core/query_editor.py
  libs/core/garf/core/version.py
  libs/core/tests/unit/test_query_editor.py
  libs/executors/garf/executors/entrypoints/utils.py
  libs/executors/garf/executors/version.py
  libs/executors/tests/unit/entrypoints/test_utils.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

docs(tagging): provide correct query examples for garf-media-tagging
  docs/fetchers/media-tagging.md
Due: none

feat(ads): add builtin account hierarchy query
  libs/community/google/ads/garf/community/google/ads/builtins/__init__.py
  libs/community/google/ads/garf/community/google/ads/builtins/account_hierarchy.py
  libs/community/google/ads/garf/community/google/ads/report_fetcher.py
  libs/community/google/ads/garf/community/google/ads/version.py
Due: pytest-check-google-ads

fix(core): store empty reports in cache
  libs/core/garf/core/report_fetcher.py
  libs/core/garf/core/version.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

feat(executors): add support for nested CLI flags
  libs/executors/garf/executors/entrypoints/utils.py
  libs/executors/tests/unit/entrypoints/test_utils.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

docs(tagging): document tagging specific fetcher parameters
  docs/fetchers/media-tagging.md
Due: none

fix(core): add rest & fake report fetcher versions
  libs/community/google/youtube/garf/community/google/youtube/report_fetcher.py
  libs/core/garf/core/fetchers/fake.py
  libs/core/garf/core/fetchers/rest.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters, pytest-check-youtube

feat(executors): display fetchers and their versions in server
  libs/executors/garf/executors/entrypoints/server.py
  libs/executors/garf/executors/fetchers.py
  libs/executors/garf/executors/setup.py
  libs/executors/garf/executors/version.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

feat(proto): add workflow & batch execution messages
  generate-protos.sh
  libs/executors/garf/executors/entrypoints/grpc_server.py
  libs/executors/garf/executors/garf_pb2.py
  libs/executors/garf/executors/garf_pb2_grpc.py
  libs/executors/tests/end-to-end/test_grpc_server.py
  libs/executors/tests/unit/conftest.py
  protos/garf.proto
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

fix(executors): allow connection_string in __init__ of sql_executor
  libs/executors/garf/executors/sql_executor.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

chore(executors): updates to otel
  libs/executors/garf/executors/entrypoints/tracer.py
  libs/executors/garf/executors/entrypoints/typer_cli.py
  libs/executors/garf/executors/executor.py
  libs/executors/garf/executors/query_processor.py
  libs/executors/garf/executors/setup.py
  libs/executors/garf/executors/workflows/workflow_runner.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

fix(executors): ensure than execute_batch correctly formats reports
  libs/executors/garf/executors/entrypoints/tasks.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters
