Repository google/garf: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters, pytest-check-youtube, pytest-check-google-ads, pytest-check-bid-manager

.pre-commit-config.yaml:

# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
fail_fast: true
default_stages: [pre-commit]
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
    exclude: ^mkdocs\.yml$
  - id: check-added-large-files
  - id: debug-statements
  - id: double-quote-string-fixer
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.8.0
  hooks:
  - id: mypy
    verbose: true
    entry: bash -c 'mypy "$@" || true'
    args: [--ignore-missing-imports]
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.5
  hooks:
    - id: ruff
      args: [ --fix, --select, I]
    - id: ruff-format
- repo: local
  hooks:
  - id: pytest-check-core
    name: pytest-check-core
    entry: pytest -n auto libs/core/tests/unit/
    language: system
    pass_filenames: false
    files:  ^libs/
    exclude: ^libs/community
  - id: pytest-check-io
    name: pytest-check-io
    entry: pytest -n auto libs/io/tests/unit/
    language: system
    pass_filenames: false
    files:  ^libs/
    exclude: ^libs/community
  - id: pytest-check-executors
    name: pytest-check-executors
    entry: pytest -n auto libs/executors/tests/unit/
    language: system
    pass_filenames: false
    files:  ^libs/
    exclude: ^libs/community
  - id: pytest-check-exporters
    name: pytest-check-exporters
    entry: pytest -n auto libs/exporters/tests/unit/
    language: system
    pass_filenames: false
    files:  ^libs/
    exclude: ^libs/community
  - id: pytest-check-youtube
    name: pytest-check-youtube
    entry: pytest -n auto libs/community/google/youtube/tests/unit/
    files: ^libs/community/google/youtube/
    language: system
    pass_filenames: false
  - id: pytest-check-google-ads
    name: pytest-check-ads
    entry: pytest -n auto libs/community/google/ads/tests/unit/
    files: ^libs/community/google/ads/
    language: system
    pass_filenames: false
  - id: pytest-check-bid-manager
    name: pytest-check-bid-manager
    entry: pytest -n auto libs/community/google/bid-manager/tests/unit/
    files: ^libs/community/google/bid-manager/
    language: system
    pass_filenames: false
  - id: executors-e2e
    stages: [pre-push]
    name: e2e
    entry: pytest -n auto libs/executors/tests/end-to-end/
    language: system
    pass_filenames: false
    always_run: true

deps: bump version of libraries
  libs/executors/garf/executors/__init__.py
  libs/io/garf/io/__init__.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

feat(executors): add support for remote execution
  libs/executors/garf/executors/entrypoints/typer_cli.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

deps: update requirements.txt
  libs/executors/requirements.txt
  libs/exporters/requirements.txt
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

docs: add deployment docs
  docs/deployment/docker.md
  docs/deployment/google-cloud.md
  docs/deployment/kubernetes.md
  gcp/cloudbuild.yaml
  libs/executors/Dockerfile
  mkdocs.yml
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

ci: build garf docker image for arm64 and amd64 architectures
  .github/workflows/push-garf-to-github-packages.yaml
Due: none

fix(executors): use conventional OTEL_SERVICE_NAME env variable
  libs/executors/garf/executors/entrypoints/tracer.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

feat: inherit io / executor exceptions from garf.core.exceptions.GarfError
  libs/executors/garf/executors/exceptions.py
  libs/io/garf/io/exceptions.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

fix(ads): count only unique account during mcc expansion
  libs/community/google/ads/garf/community/google/ads/report_fetcher.py
Due: pytest-check-google-ads

feat(executors): add support for remote execution
  libs/executors/garf/executors/entrypoints/server.py
  libs/executors/garf/executors/entrypoints/typer_cli.py
  libs/executors/tests/end-to-end/test_server.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

feat(executors): add support for config in workflows
  libs/executors/garf/executors/config.py
  libs/executors/garf/executors/entrypoints/cli.py
  libs/executors/garf/executors/entrypoints/typer_cli.py
  libs/executors/garf/executors/utils.py
  libs/executors/garf/executors/workflows/workflow.py
  libs/executors/tests/end-to-end/query.sql
  libs/executors/tests/end-to-end/test.json
  libs/executors/tests/end-to-end/test_cli.py
  libs/executors/tests/end-to-end/test_config.yaml
  libs/executors/tests/end-to-end/test_query.sql
  libs/executors/tests/end-to-end/test_workflow.yaml
  libs/executors/tests/unit/test_config.py
  libs/executors/tests/unit/workflows/test_workflow.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

docs(executors): document config and workflow usage
  docs/usage/configs.md
  docs/usage/executors.md
  docs/usage/workflows.md
  mkdocs.yml
Due: none

feat(executors): add elasticsearch executor
  libs/executors/garf/executors/elasticsearch_executor.py
  libs/executors/pyproject.toml
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

fix(executors): expand config file when running CLI
  libs/executors/garf/executors/entrypoints/cli.py
  libs/executors/garf/executors/entrypoints/typer_cli.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

feat(ui): initial commit
  .gitignore
  .pre-commit-config.yaml
  ui/garf/.editorconfig
  ui/garf/.gitignore
  ui/garf/README.md
  ui/garf/angular.json
  ui/garf/package-lock.json
  ui/garf/package.json
  ui/garf/proxy.conf.json
  ui/garf/public/favicon.ico
  ui/garf/src/app/app.component.css
  ui/garf/src/app/app.component.html
  ui/garf/src/app/app.component.spec.ts
  ui/garf/src/app/app.component.ts
  ui/garf/src/app/app.config.ts
  ui/garf/src/app/app.routes.ts
  ui/garf/src/app/core/components/footer.component.ts
  ui/garf/src/app/core/components/footer/footer.component.css
  ui/garf/src/app/core/components/footer/footer.component.html
  ui/garf/src/app/core/components/footer/footer.component.spec.ts
  ui/garf/src/app/core/components/footer/footer.component.ts
  ui/garf/src/app/core/components/header.component.ts
  ui/garf/src/app/core/components/header/header.component.css
  ui/garf/src/app/core/components/header/header.component.html
  ui/garf/src/app/core/components/header/header.component.spec.ts
  ui/garf/src/app/core/components/header/header.component.ts
  ui/garf/src/app/services/garf.service.spec.ts
  ui/garf/src/app/services/garf.service.ts
  ui/garf/src/index.html
  ui/garf/src/main.ts
  ui/garf/src/styles.css
  ui/garf/tsconfig.app.json
  ui/garf/tsconfig.json
  ui/garf/tsconfig.spec.json
Due: none

feat(ui): add fetchers
  ui/garf/src/app/core/components/footer.component.ts
  ui/garf/src/app/services/garf.service.ts
Due: none

feat(ui): add tailwind
  ui/garf/.postcssrc.json
  ui/garf/package-lock.json
  ui/garf/package.json
  ui/garf/src/app/app.component.css
  ui/garf/src/app/app.component.html
  ui/garf/src/app/core/components/footer.component.ts
  ui/garf/src/app/core/components/footer/footer.component.css
  ui/garf/src/app/core/components/footer/footer.component.html
  ui/garf/src/app/core/components/footer/footer.component.spec.ts
  ui/garf/src/app/core/components/footer/footer.component.ts
  ui/garf/src/app/core/components/header.component.ts
  ui/garf/src/app/core/components/header/header.component.css
  ui/garf/src/app/core/components/header/header.component.html
  ui/garf/src/app/core/components/header/header.component.spec.ts
  ui/garf/src/app/core/components/header/header.component.ts
  ui/garf/src/styles.css
  ui/garf/tailwind.config.js
Due: none

feat(core): propagate macros to builtin-reports
  libs/core/garf/core/report_fetcher.py
  libs/core/tests/unit/test_report_fetcher.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

fix(executors): ensure that reports with placeholders are written
  libs/executors/garf/executors/executor.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

chore(io): add is_placeholder_report to bq writer
  libs/io/garf/io/writers/bigquery_writer.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

feat(ads): add budget_history builtin query
  .github/workflows/test_garf_google_ads.yaml
  docs/fetchers/google-ads.md
  libs/community/google/ads/examples/budget_history.sql
  libs/community/google/ads/examples/target_cpa_history.sql
  libs/community/google/ads/examples/target_roas_history.sql
  libs/community/google/ads/garf/community/google/ads/__init__.py
  libs/community/google/ads/garf/community/google/ads/builtins/__init__.py
  libs/community/google/ads/garf/community/google/ads/builtins/change_history.py
  libs/community/google/ads/pyproject.toml
  libs/community/google/ads/tests/unit/builtins/test_change_history.py
Due: pytest-check-google-ads

docs: add download stats to youtube fetcher
  docs/fetchers/youtube.md
Due: none

chore(ads): add query examples
  libs/community/google/ads/examples/basic/bids.sql
  libs/community/google/ads/examples/basic/budgets.sql
  libs/community/google/ads/examples/basic/campaign_geo_targets.sql
  libs/community/google/ads/examples/basic/campaigns.sql
  libs/community/google/ads/examples/builtin/budget_history.sql
  libs/community/google/ads/examples/builtin/ocid_mapping.sql
  libs/community/google/ads/examples/builtin/target_cpa_history.sql
  libs/community/google/ads/examples/builtin/target_roas_history.sql
  libs/community/google/ads/examples/campaigns.sql
  libs/community/google/ads/examples/policy/ad_group_ad_asset_policy_info.sql
  libs/community/google/ads/examples/policy/ad_group_ad_policy_info.sql
  libs/community/google/ads/examples/policy/ad_group_asset_policy_info.sql
  libs/community/google/ads/examples/policy/campaign_asset_policy_info.sql
  libs/community/google/ads/examples/policy/customer_asset_policy_info.sql
Due: pytest-check-google-ads

fix(core): handle placeholder results for resource index parsing
  libs/core/garf/core/parsers.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters
