Repository google/garf: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters, pytest-check-youtube, pytest-check-google-ads, pytest-check-bid-manager

.pre-commit-config.yaml:

# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
fail_fast: true
default_stages: [pre-commit]
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
    exclude: ^mkdocs\.yml$
  - id: check-added-large-files
  - id: debug-statements
  - id: double-quote-string-fixer
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.8.0
  hooks:
  - id: mypy
    verbose: true
    entry: bash -c 'mypy "$@" || true'
    args: [--ignore-missing-imports]
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.5
  hooks:
    - id: ruff
      args: [ --fix, --select, I]
    - id: ruff-format
- repo: local
  hooks:
  - id: pytest-check-core
    name: pytest-check-core
    entry: pytest -n auto libs/core/tests/unit/
    language: system
    pass_filenames: false
    files:  ^libs/
    exclude: ^libs/community
  - id: pytest-check-io
    name: pytest-check-io
    entry: pytest -n auto libs/io/tests/unit/
    language: system
    pass_filenames: false
    files:  ^libs/
    exclude: ^libs/community
  - id: pytest-check-executors
    name: pytest-check-executors
    entry: pytest -n auto libs/executors/tests/unit/
    language: system
    pass_filenames: false
    files:  ^libs/
    exclude: ^libs/community
  - id: pytest-check-exporters
    name: pytest-check-exporters
    entry: pytest -n auto libs/exporters/tests/unit/
    language: system
    pass_filenames: false
    files:  ^libs/
    exclude: ^libs/community
  - id: pytest-check-youtube
    name: pytest-check-youtube
    entry: pytest -n auto libs/community/google/youtube/tests/unit/
    files: ^libs/community/google/youtube/
    language: system
    pass_filenames: false
  - id: pytest-check-google-ads
    name: pytest-check-ads
    entry: pytest -n auto libs/community/google/ads/tests/unit/
    files: ^libs/community/google/ads/
    language: system
    pass_filenames: false
  - id: pytest-check-bid-manager
    name: pytest-check-bid-manager
    entry: pytest -n auto libs/community/google/bid-manager/tests/unit/
    files: ^libs/community/google/bid-manager/
    language: system
    pass_filenames: false
  - id: executors-e2e
    stages: [pre-push]
    name: e2e
    entry: pytest -n auto libs/executors/tests/end-to-end/
    language: system
    pass_filenames: false
    always_run: true

fix(io): provide correct span name in nosql writer
  libs/io/garf/io/writers/nosql_writer.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

fix(ads): include placeholders for builtin history reports
  libs/community/google/ads/garf/community/google/ads/__init__.py
  libs/community/google/ads/garf/community/google/ads/builtins/change_history.py
  libs/community/google/ads/tests/unit/builtins/test_change_history.py
Due: pytest-check-google-ads

docs: document custom_schema for garf-media-tagging
  docs/fetchers/media-tagging.md
Due: none

feat(youtube): add support for builtin youtube channel commentaries query
  docs/fetchers/youtube.md
  libs/community/google/youtube/examples/youtube-data-api/channel_commentaries.sql
  libs/community/google/youtube/garf/community/google/youtube/__init__.py
  libs/community/google/youtube/garf/community/google/youtube/api_clients.py
  libs/community/google/youtube/garf/community/google/youtube/builtins/__init__.py
  libs/community/google/youtube/garf/community/google/youtube/builtins/channel_commentaries.py
  libs/community/google/youtube/tests/unit/test_report_fetcher.py
Due: pytest-check-youtube

feat(io): add info metric to pushgateway writer
  docs/usage/writers/pushgateway-writer.md
  libs/io/garf/io/__init__.py
  libs/io/garf/io/writers/pushgateway_writer.py
  libs/io/tests/unit/writers/test_pushgateway_writer.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

fix(executors): Initialize cls in Workflow.from_file
  libs/executors/garf/executors/workflows/workflow.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

feat(io): add return to console writer
  libs/io/garf/io/writers/console_writer.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

fix(ads): handle account as int in report_fetcher
  libs/community/google/ads/garf/community/google/ads/__init__.py
  libs/community/google/ads/garf/community/google/ads/report_fetcher.py
Due: pytest-check-google-ads

fix(io): add return to pushgateway writer
  libs/io/garf/io/writers/pushgateway_writer.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

feat(executors): change structure of return in execute_batch and workflows
  libs/executors/garf/executors/__init__.py
  libs/executors/garf/executors/entrypoints/server.py
  libs/executors/garf/executors/executor.py
  libs/executors/garf/executors/workflows/workflow.py
  libs/executors/garf/executors/workflows/workflow_runner.py
  libs/executors/tests/end-to-end/test_server.py
  libs/executors/tests/unit/workflows/test_workflow_runner.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

deps: bump dependencies for garf executors
  libs/executors/requirements.in
  libs/executors/requirements.txt
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

docs: fix incorrect name in Bid Manager filters
  docs/fetchers/bid-manager.md
Due: none

feat(youtube): register simulator entrypoint
  libs/community/google/youtube/garf/community/google/youtube/api_clients.py
  libs/community/google/youtube/pyproject.toml
Due: pytest-check-youtube

feat(bid-manager): store credentials as pickle for reuse
  libs/community/google/bid-manager/garf/community/google/bid_manager/__init__.py
  libs/community/google/bid-manager/garf/community/google/bid_manager/api_clients.py
Due: pytest-check-bid-manager

feat(io): add option for skipping dataset creation in BigQuery
  libs/io/garf/io/writers/bigquery_writer.py
  libs/io/tests/unit/test_writer.py
  libs/io/tests/unit/writers/test_bigquery_writer.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

feat(cm360): store credentials as pickle for reuse
  libs/community/google/campaign-manager/garf/community/google/campaign_manager/__init__.py
  libs/community/google/campaign-manager/garf/community/google/campaign_manager/api_clients.py
Due: none

fix(executors): ignore pre/post processing in sumulate mode
  libs/executors/garf/executors/api_executor.py
  libs/executors/garf/executors/executor.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

ci: update references to version in pypi publishing workflows
  .github/workflows/publish_garf_bid_manager.yaml
  .github/workflows/publish_garf_exporter.yaml
  .github/workflows/publish_garf_google_ads.yaml
  .github/workflows/publish_garf_google_analytics.yaml
  .github/workflows/publish_garf_knowledge_graph.yaml
  .github/workflows/publish_garf_merchant_center.yaml
  .github/workflows/publish_garf_youtube.yaml
  .github/workflows/publish_pypi_core.yaml
  .github/workflows/publish_pypi_executors.yaml
  .github/workflows/publish_pypi_io.yaml
Due: none

feat(executors): check fetcher version when running workflow
  libs/executors/garf/executors/entrypoints/typer_cli.py
  libs/executors/garf/executors/workflows/workflow.py
  libs/executors/garf/executors/workflows/workflow_runner.py
  libs/executors/tests/unit/workflows/test_workflow.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters
