Repository google/garf: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters, pytest-check-youtube, pytest-check-google-ads, pytest-check-bid-manager

pytest-check-core:
  name: pytest-check-core
  entry: pytest -n auto libs/core/tests/unit/
  language: system
  pass_filenames: false

pytest-check-io:
  name: pytest-check-io
  entry: pytest -n auto libs/io/tests/unit/
  language: system
  pass_filenames: false

pytest-check-executors:
  name: pytest-check-executors
  entry: pytest -n auto libs/executors/tests/unit/
  language: system
  pass_filenames: false

pytest-check-exporters:
  name: pytest-check-exporters
  entry: pytest -n auto libs/exporters/tests/unit/
  language: system
  pass_filenames: false

pytest-check-youtube:
  name: pytest-check-youtube
  entry: pytest -n auto libs/community/google/youtube/tests/unit/
  language: system
  pass_filenames: false

pytest-check-google-ads:
  name: pytest-check-ads
  entry: pytest -n auto libs/community/google/ads/tests/unit/
  language: system
  pass_filenames: false

pytest-check-bid-manager:
  name: pytest-check-bid-manager
  entry: pytest -n auto libs/community/google/bid-manager/tests/unit/
  language: system
  pass_filenames: false

fix(executors): ensure than execute_batch correctly formats reports
  libs/executors/garf/executors/entrypoints/tasks.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

feat(executors): add server metrics as observable gauges
  libs/executors/garf/executors/entrypoints/server.py
  libs/executors/garf/executors/telemetry.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

fix(executors): import full modules for versions of core and io
  libs/executors/garf/executors/version.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

fix(executors): update workflow specific metrics
  libs/executors/garf/executors/entrypoints/server.py
  libs/executors/garf/executors/workflows/workflow.py
  libs/executors/garf/executors/workflows/workflow_runner.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

feat(executors): add service methods to proto & instrument grpc server
  libs/executors/garf/executors/entrypoints/grpc_server.py
  libs/executors/garf/executors/entrypoints/server.py
  libs/executors/garf/executors/garf_pb2.py
  libs/executors/garf/executors/garf_pb2_grpc.py
  libs/executors/pyproject.toml
  libs/executors/tests/end-to-end/test_grpc_server.py
  protos/garf.proto
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

feat(executors): Add cache commands to typer cli
  libs/core/garf/core/cache.py
  libs/core/garf/core/version.py
  libs/executors/garf/executors/entrypoints/typer_cli.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

fix(executors): ensure that writer is treated as a list
  libs/executors/garf/executors/execution_context.py
  libs/executors/garf/executors/workflows/workflow.py
  libs/executors/tests/unit/test_config.py
  libs/executors/tests/unit/test_execution_context.py
  libs/executors/tests/unit/workflows/test_workflow.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

feat(executors): Add support for grpc remote execution via CLI
  libs/executors/garf/executors/entrypoints/grpc_server.py
  libs/executors/garf/executors/entrypoints/typer_cli.py
  libs/executors/garf/executors/garf_pb2.py
  libs/executors/garf/executors/workflows/workflow.py
  libs/executors/pyproject.toml
  protos/garf.proto
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

fix(io): normalize names of metrics in pushgateway_writer
  libs/io/garf/io/version.py
  libs/io/garf/io/writers/pushgateway_writer.py
  libs/io/tests/unit/writers/test_pushgateway_writer.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

feat(core): add support for remote cache for garf reports
  .github/workflows/test.yaml
  libs/core/garf/core/cache.py
  libs/core/garf/core/report_fetcher.py
  libs/core/garf/core/version.py
  libs/core/pyproject.toml
  libs/core/tests/unit/test_cache.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

fix(core): correctly initialize provider in GarfCache
  libs/core/garf/core/cache.py
  libs/core/garf/core/version.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

feat(executors): propagate cache and simulate options to servers
  libs/executors/garf/executors/entrypoints/grpc_server.py
  libs/executors/garf/executors/entrypoints/tasks.py
  libs/executors/garf/executors/entrypoints/typer_cli.py
  libs/executors/garf/executors/garf_pb2.py
  libs/executors/garf/executors/setup.py
  protos/garf.proto
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

fix(executors): propagate writer context only on set writers
  libs/executors/garf/executors/setup.py
  libs/executors/garf/executors/workflows/workflow.py
  libs/executors/pyproject.toml
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

feat(executors): add support for nested gquery execution
  libs/executors/garf/executors/query_processor.py
  libs/executors/tests/unit/test_query_processor.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

feat(ads): add query_consumption and account span attributes to otel
  libs/community/google/ads/garf/community/google/ads/api_clients.py
Due: pytest-check-google-ads

feat(tag): initial commit for garf-media-tagging
  .github/workflows/publish_garf_media_tagging.yaml
  .github/workflows/test_garf_media_tagging.yaml
  .pre-commit-config.yaml
  libs/community/experimental/media-tagging/README.md
  libs/community/experimental/media-tagging/examples/README.md
  libs/community/experimental/media-tagging/examples/description.sql
  libs/community/experimental/media-tagging/examples/tags.sql
  libs/community/experimental/media-tagging/garf/community/experimental/media_tagging/__init__.py
  libs/community/experimental/media-tagging/garf/community/experimental/media_tagging/api_clients.py
  libs/community/experimental/media-tagging/garf/community/experimental/media_tagging/exceptions.py
  libs/community/experimental/media-tagging/garf/community/experimental/media_tagging/query_editor.py
  libs/community/experimental/media-tagging/garf/community/experimental/media_tagging/report_fetcher.py
  libs/community/experimental/media-tagging/garf/community/experimental/media_tagging/simulator.py
  libs/community/experimental/media-tagging/garf/community/experimental/media_tagging/version.py
  libs/community/experimental/media-tagging/pyproject.toml
  libs/community/experimental/media-tagging/tests/unit/test_query_editor.py
Due: none

feat(tag): add support for grpc endpoint
  libs/community/experimental/media-tagging/garf/community/experimental/media_tagging/api_clients.py
Due: none

chore(tag): remove duplicated backend span attribute
  libs/community/experimental/media-tagging/garf/community/experimental/media_tagging/api_clients.py
Due: none

chore(executors): remove grpc client instrumentation
  libs/executors/garf/executors/entrypoints/typer_cli.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

deps(executors): remove manual otel instrumentation
  libs/core/garf/core/telemetry.py
  libs/executors/Dockerfile
  libs/executors/garf/executors/entrypoints/cli.py
  libs/executors/garf/executors/entrypoints/grpc_server.py
  libs/executors/garf/executors/entrypoints/server.py
  libs/executors/garf/executors/entrypoints/tasks.py
  libs/executors/garf/executors/entrypoints/tracer.py
  libs/executors/garf/executors/entrypoints/typer_cli.py
  libs/executors/garf/executors/telemetry.py
  libs/executors/pyproject.toml
  libs/executors/requirements.in
  libs/executors/requirements.txt
  libs/io/garf/io/telemetry.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

fix(ads): suppress instrumentation for streaming RPC
  libs/community/google/ads/garf/community/google/ads/api_clients.py
  libs/community/google/ads/garf/community/google/ads/version.py
Due: pytest-check-google-ads

Path conditions:
  pytest-check-core: any of: ^libs/, but not: ^libs/community
  pytest-check-io: any of: ^libs/, but not: ^libs/community
  pytest-check-executors: any of: ^libs/, but not: ^libs/community
  pytest-check-exporters: any of: ^libs/, but not: ^libs/community
  pytest-check-youtube: any of: ^libs/community/google/youtube/
  pytest-check-google-ads: any of: ^libs/community/google/ads/
  pytest-check-bid-manager: any of: ^libs/community/google/bid-manager/
