Repository google/garf: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters, pytest-check-youtube, pytest-check-google-ads, pytest-check-bid-manager

.pre-commit-config.yaml:

# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
fail_fast: true
default_stages: [pre-commit]
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
    exclude: ^mkdocs\.yml$
  - id: check-added-large-files
  - id: debug-statements
  - id: double-quote-string-fixer
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.8.0
  hooks:
  - id: mypy
    verbose: true
    entry: bash -c 'mypy "$@" || true'
    args: [--ignore-missing-imports]
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.5
  hooks:
    - id: ruff
      args: [ --fix, --select, I]
    - id: ruff-format
- repo: local
  hooks:
  - id: pytest-check-core
    name: pytest-check-core
    entry: pytest -n auto libs/core/tests/unit/
    language: system
    pass_filenames: false
    files:  ^libs/
    exclude: ^libs/community
  - id: pytest-check-io
    name: pytest-check-io
    entry: pytest -n auto libs/io/tests/unit/
    language: system
    pass_filenames: false
    files:  ^libs/
    exclude: ^libs/community
  - id: pytest-check-executors
    name: pytest-check-executors
    entry: pytest -n auto libs/executors/tests/unit/
    language: system
    pass_filenames: false
    files:  ^libs/
    exclude: ^libs/community
  - id: pytest-check-exporters
    name: pytest-check-exporters
    entry: pytest -n auto libs/exporters/tests/unit/
    language: system
    pass_filenames: false
    files:  ^libs/
    exclude: ^libs/community
  - id: pytest-check-youtube
    name: pytest-check-youtube
    entry: pytest -n auto libs/community/google/youtube/tests/unit/
    files: ^libs/community/google/youtube/
    language: system
    pass_filenames: false
  - id: pytest-check-google-ads
    name: pytest-check-ads
    entry: pytest -n auto libs/community/google/ads/tests/unit/
    files: ^libs/community/google/ads/
    language: system
    pass_filenames: false
  - id: pytest-check-bid-manager
    name: pytest-check-bid-manager
    entry: pytest -n auto libs/community/google/bid-manager/tests/unit/
    files: ^libs/community/google/bid-manager/
    language: system
    pass_filenames: false
  - id: executors-e2e
    stages: [pre-push]
    name: e2e
    entry: pytest -n auto libs/executors/tests/end-to-end/
    language: system
    pass_filenames: false
    always_run: true

fix(ads): suppress instrumentation for streaming RPC
  libs/community/google/ads/garf/community/google/ads/api_clients.py
  libs/community/google/ads/garf/community/google/ads/version.py
Due: pytest-check-google-ads

feat(actors): initial commit
  .github/workflows/test_garf_actors.yaml
  .pre-commit-config.yaml
  libs/actors/README.md
  libs/actors/garf/actors/actor.py
  libs/actors/garf/actors/actors/__init__.py
  libs/actors/garf/actors/actors/fake/actor.py
  libs/actors/garf/actors/actors/fake/workflows/fake.yaml
  libs/actors/garf/actors/exceptions.py
  libs/actors/garf/actors/runner.py
  libs/actors/garf/actors/telemetry.py
  libs/actors/garf/actors/version.py
  libs/actors/pyproject.toml
  libs/actors/tests/unit/test_actor.py
  libs/actors/tests/unit/test_runner.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

feat(actors): add server entrypoint
  libs/actors/garf/actors/actor.py
  libs/actors/garf/actors/entrypoints/__init__.py
  libs/actors/garf/actors/entrypoints/server.py
  libs/actors/pyproject.toml
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

feat(actors): unify http endpoint and add documentation
  docs/usage/actors.md
  libs/actors/garf/actors/entrypoints/server.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

docs: add actors references to mkdocs
  mkdocs.yml
Due: none

feat(actors): simplify discovery and response handling
  libs/actors/garf/actors/actor.py
  libs/actors/garf/actors/actors/fake/actor.py
  libs/actors/garf/actors/entrypoints/server.py
  libs/actors/garf/actors/runner.py
  libs/actors/tests/unit/test_actor.py
  libs/actors/tests/unit/test_runner.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

feat(ads): initial commit actors
  libs/community/google/ads/garf/community/google/ads/actor.py
  libs/community/google/ads/garf/community/google/ads/actors/__init__.py
  libs/community/google/ads/garf/community/google/ads/actors/excluder.py
  libs/community/google/ads/garf/community/google/ads/actors/models/asset.py
  libs/community/google/ads/garf/community/google/ads/actors/models/criterion.py
  libs/community/google/ads/garf/community/google/ads/actors/services/asset.py
  libs/community/google/ads/garf/community/google/ads/actors/services/base_service.py
  libs/community/google/ads/garf/community/google/ads/actors/services/criterion.py
  libs/community/google/ads/garf/community/google/ads/actors/services/linking.py
  libs/community/google/ads/garf/community/google/ads/actors/workflows/placements.yaml
  libs/community/google/ads/garf/community/google/ads/actors/workflows/search_terms.yaml
  libs/community/google/ads/pyproject.toml
  libs/community/google/ads/tests/unit/actors/services/test_criterion.py
Due: pytest-check-google-ads

feat(actors): pass workflow object to fetch method
  libs/actors/garf/actors/entrypoints/server.py
  libs/actors/garf/actors/runner.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

feat: add OpenWeather and CurrencyAPI sources built on REST infrastructure
  .gitignore
  libs/community/common_apis/README.md
  libs/community/common_apis/examples/currencyapi/historical_rates.sql
  libs/community/common_apis/examples/currencyapi/latest_rates.sql
  libs/community/common_apis/examples/openweather/current_weather.sql
  libs/community/common_apis/examples/openweather/forecast.sql
  libs/community/common_apis/garf/community/common_apis/__init__.py
  libs/community/common_apis/garf/community/common_apis/currencyapi/__init__.py
  libs/community/common_apis/garf/community/common_apis/currencyapi/api_clients.py
  libs/community/common_apis/garf/community/common_apis/currencyapi/report_fetcher.py
  libs/community/common_apis/garf/community/common_apis/exceptions.py
  libs/community/common_apis/garf/community/common_apis/openweather/__init__.py
  libs/community/common_apis/garf/community/common_apis/openweather/api_clients.py
  libs/community/common_apis/garf/community/common_apis/openweather/report_fetcher.py
  libs/community/common_apis/pyproject.toml
  libs/community/common_apis/tests/__init__.py
  libs/community/common_apis/tests/currencyapi/__init__.py
  libs/community/common_apis/tests/currencyapi/test_api_clients.py
  libs/community/common_apis/tests/currencyapi/test_report_fetcher.py
  libs/community/common_apis/tests/openweather/__init__.py
  libs/community/common_apis/tests/openweather/test_api_clients.py
  libs/community/common_apis/tests/openweather/test_report_fetcher.py
Due: none

fix(ads): ensure that Adder actor is properly supported
  libs/community/google/ads/garf/community/google/ads/actor.py
  libs/community/google/ads/garf/community/google/ads/actors/adder.py
  libs/community/google/ads/garf/community/google/ads/actors/services/criterion.py
  libs/community/google/ads/garf/community/google/ads/actors/workflows/search_terms.yaml
Due: pytest-check-google-ads

fix(actors): ensure that rule and context are properly joined
  libs/actors/garf/actors/runner.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

feat(ads): add budget and status actors
  libs/community/google/ads/garf/community/google/ads/actors/budget_changer.py
  libs/community/google/ads/garf/community/google/ads/actors/models/criterion.py
  libs/community/google/ads/garf/community/google/ads/actors/services/budget.py
  libs/community/google/ads/garf/community/google/ads/actors/services/criterion.py
  libs/community/google/ads/garf/community/google/ads/actors/services/status.py
  libs/community/google/ads/garf/community/google/ads/actors/status_changer.py
  libs/community/google/ads/garf/community/google/ads/actors/workflows/ad_group_performance.yaml
  libs/community/google/ads/garf/community/google/ads/actors/workflows/budgets.yaml
  libs/community/google/ads/garf/community/google/ads/actors/workflows/campaign_performance.yaml
  libs/community/google/ads/garf/community/google/ads/actors/workflows/keywords.yaml
  libs/community/google/ads/garf/community/google/ads/actors/workflows/performance.yaml
  libs/community/google/ads/tests/unit/actors/services/test_budget.py
  libs/community/google/ads/tests/unit/actors/services/test_criterion.py
  libs/community/google/ads/tests/unit/conftest.py
Due: pytest-check-google-ads

feat(ads): update adder actor to work with texts, sitelinks, and videos
  libs/community/google/ads/garf/community/google/ads/actors/adder.py
  libs/community/google/ads/garf/community/google/ads/actors/base.py
  libs/community/google/ads/garf/community/google/ads/actors/models/asset.py
  libs/community/google/ads/garf/community/google/ads/actors/services/asset.py
  libs/community/google/ads/tests/unit/actors/test_adder.py
Due: pytest-check-google-ads

feat(ads): add labeler actor
  libs/community/google/ads/garf/community/google/ads/actors/labeler.py
  libs/community/google/ads/garf/community/google/ads/actors/models/label.py
  libs/community/google/ads/garf/community/google/ads/actors/services/__init__.py
  libs/community/google/ads/garf/community/google/ads/actors/services/label.py
  libs/community/google/ads/garf/community/google/ads/actors/workflows/ad_group_performance.yaml
  libs/community/google/ads/garf/community/google/ads/actors/workflows/campaign_performance.yaml
  libs/community/google/ads/garf/community/google/ads/actors/workflows/keywords.yaml
  libs/community/google/ads/garf/community/google/ads/actors/workflows/labels.yaml
  libs/community/google/ads/tests/unit/actors/test_labeler.py
Due: pytest-check-google-ads

feat(actors): add support for providing input via file, data and query
  docs/usage/actors.md
  libs/actors/garf/actors/runner.py
  libs/actors/tests/unit/test_runner.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

fix(ads): ensure that labeler actor works correctly
  libs/community/google/ads/garf/community/google/ads/actor.py
  libs/community/google/ads/garf/community/google/ads/actors/labeler.py
  libs/community/google/ads/garf/community/google/ads/actors/services/label.py
  libs/community/google/ads/tests/unit/actors/test_labeler.py
Due: pytest-check-google-ads

fix(actors): update server and increase priority of workflow processing
  libs/actors/garf/actors/entrypoints/server.py
  libs/actors/garf/actors/runner.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

feat(actors): add otel to actor server
  libs/actors/garf/actors/entrypoints/server.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

docs(actors): add Actors section & document Google Ads actors
  docs/actors/google-ads.md
  docs/actors/overview.md
  docs/usage/actors.md
  mkdocs.yml
Due: none

feat(executors): add support for selecting / skipping steps based on regexp
  docs/usage/workflows.md
  libs/executors/garf/executors/workflows/workflow_runner.py
  libs/executors/tests/unit/workflows/test_workflow.yaml
  libs/executors/tests/unit/workflows/test_workflow_runner.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters
