Repository google/garf: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters, pytest-check-youtube, pytest-check-google-ads, pytest-check-bid-manager

.pre-commit-config.yaml:

# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
fail_fast: true
default_stages: [pre-commit]
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
    exclude: ^mkdocs\.yml$
  - id: check-added-large-files
  - id: debug-statements
  - id: double-quote-string-fixer
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.8.0
  hooks:
  - id: mypy
    verbose: true
    entry: bash -c 'mypy "$@" || true'
    args: [--ignore-missing-imports]
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.5
  hooks:
    - id: ruff
      args: [ --fix, --select, I]
    - id: ruff-format
- repo: local
  hooks:
  - id: pytest-check-core
    name: pytest-check-core
    entry: pytest -n auto libs/core/tests/unit/
    language: system
    pass_filenames: false
    files:  ^libs/
    exclude: ^libs/community
  - id: pytest-check-io
    name: pytest-check-io
    entry: pytest -n auto libs/io/tests/unit/
    language: system
    pass_filenames: false
    files:  ^libs/
    exclude: ^libs/community
  - id: pytest-check-executors
    name: pytest-check-executors
    entry: pytest -n auto libs/executors/tests/unit/
    language: system
    pass_filenames: false
    files:  ^libs/
    exclude: ^libs/community
  - id: pytest-check-exporters
    name: pytest-check-exporters
    entry: pytest -n auto libs/exporters/tests/unit/
    language: system
    pass_filenames: false
    files:  ^libs/
    exclude: ^libs/community
  - id: pytest-check-youtube
    name: pytest-check-youtube
    entry: pytest -n auto libs/community/google/youtube/tests/unit/
    files: ^libs/community/google/youtube/
    language: system
    pass_filenames: false
  - id: pytest-check-google-ads
    name: pytest-check-ads
    entry: pytest -n auto libs/community/google/ads/tests/unit/
    files: ^libs/community/google/ads/
    language: system
    pass_filenames: false
  - id: pytest-check-bid-manager
    name: pytest-check-bid-manager
    entry: pytest -n auto libs/community/google/bid-manager/tests/unit/
    files: ^libs/community/google/bid-manager/
    language: system
    pass_filenames: false
  - id: executors-e2e
    stages: [pre-push]
    name: e2e
    entry: pytest -n auto libs/executors/tests/end-to-end/
    language: system
    pass_filenames: false
    always_run: true

feat(io): add auth_mode for sheets writer
  .pre-commit-config.yaml
  docs/usage/writers/sheets-writer.md
  libs/io/garf/io/writers/sheets_writer.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

feat(executors): run pre-processors on special init key
  .pre-commit-config.yaml
  libs/executors/garf/executors/__init__.py
  libs/executors/garf/executors/executor.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

feat(bid-manager): move api client initialization to pre-processors
  libs/community/google/bid-manager/garf/community/google/bid_manager/__init__.py
  libs/community/google/bid-manager/garf/community/google/bid_manager/report_fetcher.py
Due: pytest-check-bid-manager

docs(executors): document workflow usage
  docs/usage/workflows.md
  mkdocs.yml
Due: none

feat(executors): add support for workflow aliases selection in server
  libs/executors/garf/executors/__init__.py
  libs/executors/garf/executors/entrypoints/server.py
  libs/executors/garf/executors/workflows/__init__.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

chore(ads): move _get_customer_ids to expand_mcc
  libs/community/google/ads/garf/community/google/ads/report_fetcher.py
  libs/community/google/ads/garf/community/google/ads/telemetry.py
Due: pytest-check-google-ads

chore: make sure api clients depend on concrete query_editor
  libs/community/google/analytics/garf/community/google/analytics/api_clients.py
  libs/community/google/knowledge-graph/garf/community/google/knowledge_graph/api_clients.py
  libs/community/google/merchant/garf/community/google/merchant/api_clients.py
  libs/community/google/youtube/garf/community/google/youtube/api_clients.py
Due: pytest-check-youtube

fix(core): improve filters extraction in query_editor
  libs/core/garf/core/__init__.py
  libs/core/garf/core/query_editor.py
  libs/core/tests/unit/test_query_editor.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

docs: format available fetchers as a table
  docs/fetchers/google-analytics-api.md
  docs/fetchers/overview.md
Due: none

feat(io): add support for push_strategy for kafka and pubsub writers
  libs/io/garf/io/writers/kafka_writer.py
  libs/io/garf/io/writers/pubsub_writer.py
  libs/io/garf/io/writers/topic_writer.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

Use zip_longest for non_virtual_columns iteration
  libs/exporters/garf/exporter/exporter.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

Fix copyright notice in report_fetcher.py
  libs/core/garf/core/report_fetcher.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

Update copyright year to 2026
  libs/core/garf/core/report_fetcher.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

Update copyright year in report_fetcher.py
  libs/core/garf/core/report_fetcher.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

fix indentation and update copyright year
  libs/exporters/garf/exporter/exporter.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

fix(exporters): use zip_longest for non_virtual_columns iteration
  libs/core/garf/core/report_fetcher.py
  libs/exporters/garf/exporter/exporter.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

feat(executors): add otel support for logs and make telemetry optional
  libs/executors/configs/otel-collector-config.yaml
  libs/executors/configs/prometheus.yml
  libs/executors/docker-compose.yaml
  libs/executors/garf/executors/entrypoints/cli.py
  libs/executors/garf/executors/entrypoints/server.py
  libs/executors/garf/executors/entrypoints/tracer.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

fix(executors): fix init_logging
  libs/executors/garf/executors/__init__.py
  libs/executors/garf/executors/entrypoints/utils.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

fix: always use GOOGLE_CLOUD_PROJECT for bq_executor
  libs/executors/garf/executors/__init__.py
  libs/executors/garf/executors/bq_executor.py
  libs/executors/pyproject.toml
  libs/io/garf/io/__init__.py
  libs/io/garf/io/writers/bigquery_writer.py
  libs/io/pyproject.toml
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

fix(core): correctly process sequence of nested attributes
  libs/community/google/ads/garf/community/google/ads/parsers.py
  libs/core/garf/core/parsers.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters, pytest-check-google-ads

fix(core): correctly process sequence of nested attributes
  libs/core/garf/core/__init__.py
  libs/core/garf/core/parsers.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

fix(ads): ensure that account expansion works
  libs/community/google/ads/garf/community/google/ads/__init__.py
  libs/community/google/ads/garf/community/google/ads/parsers.py
  libs/community/google/ads/garf/community/google/ads/report_fetcher.py
Due: pytest-check-google-ads

feat(core): add date handling strategy for all writers
  libs/io/garf/io/formatter.py
  libs/io/tests/unit/test_formatter.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters

fix(core): propagate date handling to AbsWriter
  libs/io/garf/io/formatter.py
  libs/io/garf/io/writers/abs_writer.py
Due: pytest-check-core, pytest-check-io, pytest-check-executors, pytest-check-exporters
